@CHARSET "UTF-8";
#user-info {
	margin-right: 20px;
	height:100%;
	width:200px;
	line-height:50px
}

.img-circle {
	border-radius: 50%;
	height: 40px;
	width: 40px;
	margin-right: 10px;
}

.logined {
	display: none
}